@using GQService.com.gq.extensions;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<Idioma> Localizer
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="SHORTCUT ICON" type="image/x-icon" href="~/images/logo-geminus-chico0.png" />

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/lib/ionicons/css/ionicons.css" />
        <link rel="stylesheet" href="~/lib/adminlte/plugins/iCheck/all.css">
        <link rel="stylesheet" href="~/lib/adminlte/css/AdminLTE.css" />
        <link rel="stylesheet" href="~/lib/adminlte/css/skins/_all-skins.css" />
        <link rel="stylesheet" href="~/lib/ng-table/ng-table.css" />
        <link rel="stylesheet" href="~/lib/ui-select/select.css" />
        <link rel="stylesheet" href="~/lib/nvd3/nv.d3.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>

    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/lib/ionicons/css/ionicons.css" />
        <link rel="stylesheet" href="~/lib/adminlte/plugins/iCheck/all.css">
        <link rel="stylesheet" href="~/lib/adminlte/css/AdminLTE.css" />
        <link rel="stylesheet" href="~/lib/adminlte/css/skins/_all-skins.css" />
        <link rel="stylesheet" href="~/lib/ng-table/ng-table.css" />
        <link rel="stylesheet" href="~/lib/ui-select/select.css" />
        <link rel="stylesheet" href="~/lib/nvd3/nv.d3.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>

    <script type="text/javascript">
        var config = {
            baseURL: '@Url.AbsoluteContent("~/")'
        };

        function logOut() {
            window.location.href = config.baseURL + "Login";
        }

        function irMisDatos() {
                window.location.href = config.baseURL + "Usuario/MisDatos/done";
        }

        function irHome() {
            window.location.href = config.baseURL ;
        }

        var lenguaje = {

            //Default Message
            default_title_guardar: '@Localizer["default_title_guardar"]',
            default_mensaje_guardar: '@Localizer["default_mensaje_guardar"]',
            default_title_borrar: '@Localizer["default_title_borrar"]',
            default_mensaje_borrar: '@Localizer["default_mensaje_borrar"]',
            default_title_error: '@Localizer["default_title_error"]',
            default_mensaje_error: '@Localizer["default_mensaje_error"]',
            default_title_agregar: '@Localizer["default_title_agregar"]',
            default_title_editar: '@Localizer["default_title_editar"]',

            //mensajes de error
            gq_error_message : '@Localizer["gq_error_message"]',

            //Estados
            default_estado_a: '@Localizer["default_estado_a"]',
            default_estado_d: '@Localizer["default_estado_d"]',
            default_estado_b: '@Localizer["default_estado_b"]',

            //Formats
            default_date_format_short: '@Localizer["default_date_format_short"]',
            default_date_format_long: '@Localizer["default_date_format_long"]',

            //Perfiles
            rol_administrador_general:'@Localizer["rol_administrador_general"]',
            rol_administrador:'@Localizer["rol_administrador"]',
            rol_usuario: '@Localizer["rol_usuario"]',

        };

    </script>

</head>
<body ng-app="AngularJSApp" class="skin-black-light fixed sidebar-mini">
    
    <div class="wrapper hidden">

        @if (GQ.com.gq.security.Security.usuarioLogueado != null)
        {
            <header class="main-header">

                <a onclick="irHome()" class="logo" style="cursor:pointer;">
                    <!-- mini logo for sidebar mini 50x50 pixels -->
                    <span class="logo-mini"><img src="~/images/logo.png" style="width:45px" /></span>
                    <span class="logo-lg"><img src="~/images/logo.png" style="max-width:200px;max-height:50px" /></span>
                </a>

                <nav class="navbar navbar-static-top">
                    <a class="sidebar-toggle" data-toggle="offcanvas" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            @*<li class="dropdown notifications-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" >
                                    <i class="fa fa-bell-o"></i>
                                    <span class="label label-success">0</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="header">No tiene Notificaciones</li>
                                    <li>
                                        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; max-height: 200px;">
                                            <ul class="menu" style="overflow: hidden; width: 100%; max-height: 200px;"></ul><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 3px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 195.122px;"></div><div class="slimScrollRail" style="width: 3px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
                                        </div>
                                    </li>
                                </ul>
                            </li>*@

                            <li class="dropdown user user-menu">
                                <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" ng-click="onClickShowRightMenu()">                                          
                                    <img src="~/images/logo.png" style="background-color:white;padding: 2px;" class="user-image" alt="User Image">
                                    <span class="hidden-xs">@GQ.com.gq.security.Security.usuarioLogueado.Nombre @GQ.com.gq.security.Security.usuarioLogueado.Apellido</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="user-header" >
                                        <img src="~/images/logo.png" style="background-color:white;padding: 2px;" class="img-circle" alt="User Image">
                                        <p>
                                            @GQ.com.gq.security.Security.usuarioLogueado.Nombre - @GQ.com.gq.security.Security.getPerfilUserLogueado().Nombre
                                            <small>@Localizer["default_usuario_desde"] @GQ.com.gq.security.Security.usuarioLogueado.Creado.Value.ToString("D")</small>
                                        </p>
                                    </li>
                                    <li class="user-footer" >
                                        <div style="position: relative;left: 25%;" >
                                            <a href="#" class="btn btn-default btn-flat" onclick="logOut()"> @Localizer["default_cerrar_sesion"] <i class="fa fa-sign-out"></i></a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
        <!-- Left side column. contains the logo and sidebar -->
            <aside class="main-sidebar hidden" ng-controller="mainSidebarController">
                <!-- sidebar: style can be found in sidebar.less -->
                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 851px;">
                    <section class="sidebar" style="height: 851px; overflow: hidden; width: auto;">
                        <!-- Sidebar user panel -->
                        <div class="user-panel" style="height:40px;">
                            @*<div class="pull-left image">
                                    <img src="~/images/logo.png" style="background-color:white;padding: 2px;" class="img-circle" alt="User Image">
                                </div>*@
                            <div class="pull-left info">
                                <p>@GQ.com.gq.security.Security.usuarioLogueado.Nombre</p>
                                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                            </div>
                        </div>
                        <!-- search form -->
                        @*
                            <form action="#" method="get" class="sidebar-form">
                                <div class="input-group">
                                    <input type="text" name="q" class="form-control" placeholder="Search...">
                                    <span class="input-group-btn">
                                        <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </form>
                        *@
                        <!-- /.search form -->
                        <!-- sidebar menu: : style can be found in sidebar.less -->
                        <ul class="sidebar-menu">
                            @*
                            <li class="header">MENÚ DE NAVEGACIÓN</li>*@
                            <li class="treeview" ng-repeat="item in menues" ng-click="onChangeParent(item)">
                                <a href="#" style="text-transform: uppercase;">
                                    <i class="{{item.icono}}"></i>
                                    <span>{{item.nombre}}</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                @*<ul class="treeview-menu">
                                    <li ng-repeat="item2 in item.child"><a href="{{getPath(item2.menuUrl)}}"><i class="fa fa-circle-o"></i> {{item2.nombre}}</a></li>
                                </ul>*@

                                <ul class="treeview-menu" style="display:block;">
                                    <li style="font-variant:small-caps;" ng-class="{ active: item2.selected }" ng-repeat="item2 in item.child" ng-cloak>
                                        <a href="{{getPath(item2.menuUrl)}}">
                                            <i class="fa" ng-class="{'fa-dot-circle-o':item2.selected, 'fa-circle-o':!item2.selected}"></i>
                                            {{item2.nombre}}
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </section><div class="slimScrollBar" style="background: rgba(0, 0, 0, 0.2); width: 3px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 782.075px;"></div><div class="slimScrollRail" style="width: 3px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
                </div>

            </aside>
        }
        <!-- Content Wrapper. Contains page content -->
        @RenderBody()
        <!-- /.content-wrapper -->

        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <strong><a href="http://geminus-qhom.com" target="_blank">Geminus Qhom</a></strong> - <b>Versión</b> 0.1.0.43.20170905
            </div>
        </footer>

        @if (GQ.com.gq.security.Security.usuarioLogueado != null)
        {
        <!-- Control Sidebar -->
            <aside class="control-sidebar control-sidebar-dark" style="position: fixed; height: auto;">
                <!-- Create the tabs -->
                <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                    <li class="active"><a href="#control-sidebar-theme-demo-options-tab" data-toggle="tab"><i class="fa fa-wrench"></i></a></li>
                    <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                    <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <!-- Home tab content -->
                    <div class="tab-pane" id="control-sidebar-home-tab">
                        <h3 class="control-sidebar-heading">Recent Activity</h3>
                        <ul class="control-sidebar-menu">
                            <li>
                                <a href="javascript:void(0)">
                                    <i class="menu-icon fa fa-birthday-cake bg-red"></i>

                                    <div class="menu-info">
                                        <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                                        <p>Will be 23 on April 24th</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <i class="menu-icon fa fa-user bg-yellow"></i>

                                    <div class="menu-info">
                                        <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>

                                        <p>New phone +1(800)555-1234</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>

                                    <div class="menu-info">
                                        <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>

                                        <p>nora@example.com</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <i class="menu-icon fa fa-file-code-o bg-green"></i>

                                    <div class="menu-info">
                                        <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>

                                        <p>Execution time 5 seconds</p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <!-- /.control-sidebar-menu -->

                        <h3 class="control-sidebar-heading">Tasks Progress</h3>
                        <ul class="control-sidebar-menu">
                            <li>
                                <a href="javascript:void(0)">
                                    <h4 class="control-sidebar-subheading">
                                        Custom Template Design
                                        <span class="label label-danger pull-right">70%</span>
                                    </h4>

                                    <div class="progress progress-xxs">
                                        <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <h4 class="control-sidebar-subheading">
                                        Update Resume
                                        <span class="label label-success pull-right">95%</span>
                                    </h4>

                                    <div class="progress progress-xxs">
                                        <div class="progress-bar progress-bar-success" style="width: 95%"></div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <h4 class="control-sidebar-subheading">
                                        Laravel Integration
                                        <span class="label label-warning pull-right">50%</span>
                                    </h4>

                                    <div class="progress progress-xxs">
                                        <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <h4 class="control-sidebar-subheading">
                                        Back End Framework
                                        <span class="label label-primary pull-right">68%</span>
                                    </h4>

                                    <div class="progress progress-xxs">
                                        <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <!-- /.control-sidebar-menu -->

                    </div><div id="control-sidebar-theme-demo-options-tab" class="tab-pane active"><div><h4 class="control-sidebar-heading">Layout Options</h4><div class="form-group"><label class="control-sidebar-subheading"><input type="checkbox" data-layout="fixed" class="pull-right"> Fixed layout</label><p>Activate the fixed layout. You can't use fixed and boxed layouts together</p></div><div class="form-group"><label class="control-sidebar-subheading"><input type="checkbox" data-layout="layout-boxed" class="pull-right"> Boxed Layout</label><p>Activate the boxed layout</p></div><div class="form-group"><label class="control-sidebar-subheading"><input type="checkbox" data-layout="sidebar-collapse" class="pull-right"> Toggle Sidebar</label><p>Toggle the left sidebar's state (open or collapse)</p></div><div class="form-group"><label class="control-sidebar-subheading"><input type="checkbox" data-enable="expandOnHover" class="pull-right"> Sidebar Expand on Hover</label><p>Let the sidebar mini expand on hover</p></div><div class="form-group"><label class="control-sidebar-subheading"><input type="checkbox" data-controlsidebar="control-sidebar-open" class="pull-right"> Toggle Right Sidebar Slide</label><p>Toggle between slide over content and push content effects</p></div><div class="form-group"><label class="control-sidebar-subheading"><input type="checkbox" data-sidebarskin="toggle" class="pull-right"> Toggle Right Sidebar Skin</label><p>Toggle between dark and light skins for the right sidebar</p></div><h4 class="control-sidebar-heading">Skins</h4><ul class="list-unstyled clearfix"><li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0);" data-skin="skin-blue" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover"><div><span style="display:block; width: 20%; float: left; height: 7px; background: #367fa9;"></span><span class="bg-light-blue" style="display:block; width: 80%; float: left; height: 7px;"></span></div><div><span style="display:block; width: 20%; float: left; height: 20px; background: #222d32;"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span></div></a><p class="text-center no-margin">Blue</p></li><li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0);" data-skin="skin-black" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover"><div style="box-shadow: 0 0 2px rgba(0,0,0,0.1)" class="clearfix"><span style="display:block; width: 20%; float: left; height: 7px; background: #fefefe;"></span><span style="display:block; width: 80%; float: left; height: 7px; background: #fefefe;"></span></div><div><span style="display:block; width: 20%; float: left; height: 20px; background: #222;"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span></div></a><p class="text-center no-margin">Black</p></li><li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0);" data-skin="skin-purple" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover"><div><span style="display:block; width: 20%; float: left; height: 7px;" class="bg-purple-active"></span><span class="bg-purple" style="display:block; width: 80%; float: left; height: 7px;"></span></div><div><span style="display:block; width: 20%; float: left; height: 20px; background: #222d32;"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span></div></a><p class="text-center no-margin">Purple</p></li><li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0);" data-skin="skin-green" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover"><div><span style="display:block; width: 20%; float: left; height: 7px;" class="bg-green-active"></span><span class="bg-green" style="display:block; width: 80%; float: left; height: 7px;"></span></div><div><span style="display:block; width: 20%; float: left; height: 20px; background: #222d32;"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span></div></a><p class="text-center no-margin">Green</p></li><li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0);" data-skin="skin-red" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover"><div><span style="display:block; width: 20%; float: left; height: 7px;" class="bg-red-active"></span><span class="bg-red" style="display:block; width: 80%; float: left; height: 7px;"></span></div><div><span style="display:block; width: 20%; float: left; height: 20px; background: #222d32;"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span></div></a><p class="text-center no-margin">Red</p></li><li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0);" data-skin="skin-yellow" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover"><div><span style="display:block; width: 20%; float: left; height: 7px;" class="bg-yellow-active"></span><span class="bg-yellow" style="display:block; width: 80%; float: left; height: 7px;"></span></div><div><span style="display:block; width: 20%; float: left; height: 20px; background: #222d32;"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span></div></a><p class="text-center no-margin">Yellow</p></li><li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0);" data-skin="skin-blue-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover"><div><span style="display:block; width: 20%; float: left; height: 7px; background: #367fa9;"></span><span class="bg-light-blue" style="display:block; width: 80%; float: left; height: 7px;"></span></div><div><span style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc;"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span></div></a><p class="text-center no-margin" style="font-size: 12px">Blue Light</p></li><li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0);" data-skin="skin-black-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover"><div style="box-shadow: 0 0 2px rgba(0,0,0,0.1)" class="clearfix"><span style="display:block; width: 20%; float: left; height: 7px; background: #fefefe;"></span><span style="display:block; width: 80%; float: left; height: 7px; background: #fefefe;"></span></div><div><span style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc;"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span></div></a><p class="text-center no-margin" style="font-size: 12px">Black Light</p></li><li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0);" data-skin="skin-purple-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover"><div><span style="display:block; width: 20%; float: left; height: 7px;" class="bg-purple-active"></span><span class="bg-purple" style="display:block; width: 80%; float: left; height: 7px;"></span></div><div><span style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc;"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span></div></a><p class="text-center no-margin" style="font-size: 12px">Purple Light</p></li><li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0);" data-skin="skin-green-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover"><div><span style="display:block; width: 20%; float: left; height: 7px;" class="bg-green-active"></span><span class="bg-green" style="display:block; width: 80%; float: left; height: 7px;"></span></div><div><span style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc;"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span></div></a><p class="text-center no-margin" style="font-size: 12px">Green Light</p></li><li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0);" data-skin="skin-red-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover"><div><span style="display:block; width: 20%; float: left; height: 7px;" class="bg-red-active"></span><span class="bg-red" style="display:block; width: 80%; float: left; height: 7px;"></span></div><div><span style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc;"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span></div></a><p class="text-center no-margin" style="font-size: 12px">Red Light</p></li><li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0);" data-skin="skin-yellow-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover"><div><span style="display:block; width: 20%; float: left; height: 7px;" class="bg-yellow-active"></span><span class="bg-yellow" style="display:block; width: 80%; float: left; height: 7px;"></span></div><div><span style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc;"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span></div></a><p class="text-center no-margin" style="font-size: 12px;">Yellow Light</p></li></ul></div></div>
                    <!-- /.tab-pane -->
                    <!-- Settings tab content -->
                    <div class="tab-pane" id="control-sidebar-settings-tab">
                        <form method="post">
                            <h3 class="control-sidebar-heading">General Settings</h3>

                            <div class="form-group">
                                <label class="control-sidebar-subheading">
                                    Report panel usage
                                    <input type="checkbox" class="pull-right" checked="">
                                </label>

                                <p>
                                    Some information about this general settings option
                                </p>
                            </div>
                            <!-- /.form-group -->

                            <div class="form-group">
                                <label class="control-sidebar-subheading">
                                    Allow mail redirect
                                    <input type="checkbox" class="pull-right" checked="">
                                </label>

                                <p>
                                    Other sets of options are available
                                </p>
                            </div>
                            <!-- /.form-group -->

                            <div class="form-group">
                                <label class="control-sidebar-subheading">
                                    Expose author name in posts
                                    <input type="checkbox" class="pull-right" checked="">
                                </label>

                                <p>
                                    Allow the user to show his name in blog posts
                                </p>
                            </div>
                            <!-- /.form-group -->

                            <h3 class="control-sidebar-heading">Chat Settings</h3>

                            <div class="form-group">
                                <label class="control-sidebar-subheading">
                                    Show me as online
                                    <input type="checkbox" class="pull-right" checked="">
                                </label>
                            </div>
                            <!-- /.form-group -->

                            <div class="form-group">
                                <label class="control-sidebar-subheading">
                                    Turn off notifications
                                    <input type="checkbox" class="pull-right">
                                </label>
                            </div>
                            <!-- /.form-group -->

                            <div class="form-group">
                                <label class="control-sidebar-subheading">
                                    Delete chat history
                                    <a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
                                </label>
                            </div>
                            <!-- /.form-group -->
                        </form>
                    </div>
                    <!-- /.tab-pane -->
                </div>
            </aside>
        <!-- /.control-sidebar -->
            <!-- Add the sidebar's background. This div must be placed
                 immediately after the control sidebar -->
            <div class="control-sidebar-bg" style="position: fixed; height: auto;"></div>
        }
    </div>
    <environment names="Development">
        <script src="~/lib/jquery/jquery-3.2.1.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
        <script src="~/lib/adminlte/plugins/fastclick/fastclick.js"></script>
        <script src="~/lib/adminlte/plugins/iCheck/icheck.min.js"></script>
        <script src="~/lib/adminlte/plugins/slimScroll/jquery.slimscroll.js"></script>
        <script src="~/lib/adminlte/js/app.js"></script>
        <script src="~/lib/angular/angular.js"></script>
        <script src="~/lib/angular/angular-sanitize.js"></script>
        <script src="~/lib/angular/angular-animate.js"></script>
        <script src="~/lib/angular/angular-route.js"></script>
        <script src="~/lib/ui-select/select.js"></script>
        <script src="~/lib/ui-bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
        <script src="~/lib/ng-table/ng-table.js"></script>
        <script src="~/lib/d3/d3.js"></script>
        <script src="~/lib/nvd3/nv.d3.js"></script>
        <script src="~/lib/nvd3/angular-nvd3.min.js"></script>
        <script src="~/lib/moment/moment.min.js"></script>
        <script src="~/lib/ace/ace.js"></script>
        <script src="~/lib/ace/ui-ace.js"></script>
        <script src="~/lib/ng-map/ng-map.min.js"></script>
        <script src="~/js/controller/controller.js"></script>
        <script src="~/js/site.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/jquery-3.2.1.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
        <script src="~/lib/adminlte/plugins/fastclick/fastclick.js"></script>
        <script src="~/lib/adminlte/plugins/iCheck/icheck.min.js"></script>
        <script src="~/lib/adminlte/plugins/slimScroll/jquery.slimscroll.js"></script>
        <script src="~/lib/adminlte/js/app.js"></script>
        <script src="~/lib/angular/angular.js"></script>
        <script src="~/lib/angular/angular-sanitize.js"></script>
        <script src="~/lib/angular/angular-animate.js"></script>
        <script src="~/lib/angular/angular-route.js"></script>
        <script src="~/lib/ui-select/select.js"></script>
        <script src="~/lib/ui-bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
        <script src="~/lib/ng-table/ng-table.js"></script>
        <script src="~/lib/d3/d3.min.js"></script>
        <script src="~/lib/nvd3/nv.d3.min.js"></script>
        <script src="~/lib/nvd3/angular-nvd3.min.js"></script>
        <script src="~/lib/moment/moment.min.js"></script>
        <script src="~/lib/ace/ace.js"></script>
        <script src="~/lib/ace/ui-ace.js"></script>
        <script src="~/lib/ng-map/ng-map.min.js"></script>
        <script src="~/js/controller/controller.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>

    
    <div ng-controller="LoadingPageController">
        <div ng-show="false" style="z-index: 9000;  left: 0;    width: 100%;    height: 100%;    position: absolute;    top: 0;">
            <div style="opacity:0.5;background-color:#000; left: 0;    width: 100%;    height: 100%;    position: absolute;    top: 0;">
            </div>
            <div style="text-align:center;left:50%;top:50%;position: absolute;">
                <i class="fa fa-refresh fa-spin fa-3x fa-fw margin-bottom"></i>
            </div>
        </div>
    </div>


    @RenderSection("scripts", required: false)

    @Html.Partial("~/Views/Shared/_PartialModalDialog.cshtml")
</body>
</html>