@{
    ViewData["Title"] = Localizer["formulario_index_title"];
}

<div class="content-wrapper" style="min-height: 850px;" ng-controller="appController">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        @Html.Partial("~/Views/Shared/_PartialButtons.cshtml")
        <h1>
            @ViewData["Title"]
        </h1>
    </section>

    <!-- BUSCAR content -->
    <section class="content" ng-show="modo == MODO_BUSCAR">
        <!-- BUSCAR -->
        <div class="row">
            <div class="col-md-12">
                <div class="panel box box-primary">
                    <div class="box-header with-border">
                        <h4 class="box-title">
                            <a data-toggle="collapse" aria-expanded="false" class="" ng-click="onClickShowSearch()">
                                @Localizer["default_find_avanzado"]
                            </a>
                        </h4>
                        <button class="btn btn-primary pull-right" style="margin: -7px;" ng-click="onBuscar()"> @Localizer["default_find_icon"] @Localizer["default_find"]</button>
                    </div>
                    <div ng-if="ShowAdvanceSearch">
                        <form class="form-horizontal">
                            <div class="box-body">
                                <div class="form-group col-sm-6">
                                    <label class="col-sm-2 control-label">@Localizer["gq_formularios_texto"]</label>
                                    <div class="col-sm-10">
                                        <input type="text" ng-model="filterObject.Texto" class="form-control" placeholder="@Localizer["gq_formularios_texto"]" ng-keyup="onBuscar()">
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="col-sm-2 control-label">@Localizer["gq_formularios_opcion"]</label>
                                    <div class="col-sm-10">
                                        <select ng-model="filterObject.Opcion" class="form-control">
                                            <option value="T" selected="selected">Todas</option>
                                            <option value="Opcion1">Opci&oacute;n 1</option>
                                            <option value="Opcion2">Opci&oacute;n 2</option>
                                            <option value="Opcion3">Opci&oacute;n 3</option>
                                            <option value="Opcion4">Opci&oacute;n 4</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="col-sm-2 control-label">@Localizer["gq_formularios_usuario"]</label>
                                    <div class="col-sm-10">
                                        <select ng-model="filterObject.IdUsuario" class="form-control">
                                            <option value="T" selected="selected">Todos</option>
                                            <option ng-repeat="item in listaUsuarios" value="{{item.usuarioId}}">{{item.usuario}} ({{item.nombre}} {{item.apellido}})</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- GRILLA -->
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table ng-table="tableBuscar" show-filter="false" class="table table-condensed table-bordered table-striped">
                            <tr ng-repeat="row in $data">
                                <td data-title="'@Localizer["gq_formularios_texto"]'" sortable="'texto'">{{row.texto}}</td>
                                <td data-title="'@Localizer["gq_formularios_fecha"]'" sortable="'fecha'">{{row.fecha | date:'dd/MM/yyyy'}}</td>
                                <td data-title="'@Localizer["gq_formularios_hora"]'" sortable="'hora'">{{row.hora | date:'HH:mm'}}</td>
                                <td data-title="'@Localizer["gq_formularios_opcion"]'" sortable="'opcion'">{{row.opcion}}</td>
                                @Html.Partial("~/Views/Shared/_PartialTableButtons.cshtml")
                            </tr>
                            <tfoot ng-table-paging="tableBuscar"></tfoot>
                        </table>
                    </div>
                    <!-- ./box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>

    <!-- EDITAR content -->
    <section class="content" ng-show="modo == MODO_EDITAR || modo == MODO_AGREGAR">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="box" ng-class="{'box-success':(modo == MODO_AGREGAR),'box-primary':(modo == MODO_EDITAR)}">
                    <div class="box-header with-border">
                        <h5 class="box-title" ng-show="modo == MODO_AGREGAR"> <i class="fa fa-plus-circle text-green"></i> @Localizer["formulario_index_create_new"]</h5>
                        <h5 class="box-title" ng-show="modo == MODO_EDITAR"> <i class="fa fa-pencil text-blue"></i> @Localizer["formulario_index_edit"] @*<span class="text-blue">{{selecteditem.nombre}} {{selecteditem.apellido}}</span>*@</h5>
                    </div>
                    <form class="form-horizontal">
                        <div class="box-body">
                            <div class="form-group {{errorClass('Texto')}} {{errorClass('Opcion')}}">
                                <label class="col-sm-2 control-label">@Localizer["gq_formularios_texto"]</label>
                                <div class="col-sm-4">
                                    <input type="text" ng-model="selecteditem.texto" class="form-control" placeholder="@Localizer["gq_formularios_texto"]" ng-change="errorRemove('Texto')">
                                    <span ng-show="hasError('Texto')" class="help-block">{{errorMessage('Texto')}}</span>
                                </div>

                                <label class="col-sm-2 control-label">@Localizer["gq_formularios_opcion"]</label>
                                <div class="col-sm-4">
                                    <select ng-model="selecteditem.opcion" class="form-control" ng-change="errorRemove('Opcion')">
                                        <option value="">---Seleccionar Opci&oacute;n---</option> <!-- not selected / blank option -->
                                        <option value="Opcion1">Opci&oacute;n 1</option>
                                        <option value="Opcion2">Opci&oacute;n 2</option>
                                        <option value="Opcion3">Opci&oacute;n 3</option>
                                        <option value="Opcion4">Opci&oacute;n 4</option>
                                    </select>
                                    <span ng-show="hasError('Opcion')" class="help-block">{{errorMessage('Opcion')}}</span>
                                </div>
                            </div>

                            <div class="form-group {{errorClass('Fecha')}}">
                                <label class="col-sm-2 control-label">@Localizer["gq_formularios_fecha"]</label>
                                <div class="col-sm-4">
                                    <p class="input-group">
                                        <input type="text" class="form-control" placeholder="dd/MM/aaaa" ng-model="selecteditem.fecha" uib-datepicker-popup="dd/MM/yyyy" is-open="popup.opened"
                                               datepicker-options="dateOptions" close-text="Cerrar" clear-text="Limpiar" current-text="Hoy" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="openDatePicker()"><i class="fa fa-calendar"></i></button>
                                        </span>
                                    </p>
                                    <span ng-show="hasError('Fecha')" class="help-block">{{errorMessage('Fecha')}}</span>
                                </div>
                                <label class="col-sm-2 control-label">CheckBox</label>
                                <div class="col-sm-4">
                                    <input type="checkbox" ng-model="selecteditem.checkBox" style="vertical-align: -webkit-baseline-middle;">
                                </div>
                            </div>

                            <div class="form-group {{errorClass('Hora')}} {{errorClass('Hora')}}">
                                <label class="col-sm-2 control-label">@Localizer["gq_formularios_hora"]</label>
                                <div class="col-sm-4">
                                    <div uib-timepicker ng-model="selecteditem.hora" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>
                                    <span ng-show="hasError('Hora')" class="help-block">{{errorMessage('Hora')}}</span>
                                </div>
                                <span ng-show="hasError('Hora')" class="help-block">{{errorMessage('Hora')}}</span>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">@Localizer["gq_formularios_imagen"]</label>
                                <div class="col-sm-4">
                                    <img runat="server" ng-show="mostrarImagen" width="70" height="70" src="{{selecteditem.urlArchivo.url}}" />
                                    <input type="file" fileread="uploadme" name="imagen" onchange="angular.element(this).scope().fileNameChanged(this,'IMAGEN')" accept=".jpg,.png,.jpeg,.gif,.bmp" />
                                    <button type="button" ng-show="filePresent" class="btn btn-danger" ng-click="deleteArchivo()"><i class="fa fa-trash"></i></button>
                                    <a id="descarga" ng-show="mostrarImagen" class="btn btn-warning" href="{{selecteditem.urlArchivo.url}}" download="{{selecteditem.urlArchivo.url}}"><i class="fa fa-cloud-download"></i></a>
                                    <span ng-show="hasError('Imagen')" class="help-block">{{errorMessage('Imagen')}}</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">@Localizer["gq_formularios_usuario"]</label>
                                <div class="col-sm-4">
                                    <ui-select ng-model="selecteditem.idUsuario"
                                               theme="bootstrap"
                                               reset-search-input="true"
                                               title="Elegir usuario">
                                        <ui-select-match placeholder="Seleccione o ingrese un usuario...">{{$select.selected.usuario}}</ui-select-match>
                                        <ui-select-choices repeat='user.usuarioId as user in listaUsuarios | filter: $select.search'>
                                            {{user.usuario}} ({{user.nombre}} {{user.apellido}})
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>



                            @Html.Partial("~/Views/Shared/_PartialModificadoPor.cshtml")

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>


</div>

<script src="~/js/controller/formulario/formularioController.js">
</script>