@{
    ViewData["Title"] = Localizer["perfil_index_title"];
}
@if (ViewData.Keys.Contains("done"))
{
    <script>
        var done = '@ViewData["done"]';       
    </script>
}
<div class="content-wrapper" style="min-height: 850px;" ng-controller="appController">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        @Html.Partial("~/Views/Shared/_PartialButtons.cshtml")
        <h1>
            @ViewData["Title"]
        </h1>
    </section>

    <!-- BUSCAR content -->
    <section class="content" ng-show="modo == MODO_BUSCAR">
        <!-- BUSCAR -->
        <div class="row">
            <div class="col-md-12">
                <div class="panel box box-primary">
                    <div class="box-header with-border">
                        <h4 class="box-title">
                            <a data-toggle="collapse" aria-expanded="false" class="" ng-click="onClickShowSearch()">
                                @Localizer["default_find_avanzado"]
                            </a>
                        </h4>
                        <button class="btn btn-primary pull-right" style="margin: -7px;" ng-click="onBuscar()"> @Localizer["default_find_icon"] @Localizer["default_find"]</button>
                    </div>
                    <div ng-if="ShowAdvanceSearch">
                        <form class="form-horizontal">
                            <div class="box-body">
                                <div class="form-group col-sm-6">
                                    <label class="col-sm-2 control-label">@Localizer["gq_perfiles_nombre"]</label>
                                    <div class="col-sm-10">
                                        <input type="text" ng-model="filterObject.Nombre" class="form-control" placeholder="@Localizer["gq_perfiles_nombre"]">
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="col-sm-2 control-label">@Localizer["gq_perfiles_estado"]</label>
                                    <div class="col-sm-10">
                                        <select ng-model="filterObject.Estado" class="form-control">
                                            <option value="T">@Localizer["default_estado_todos"]</option>
                                            <option value="A">@Localizer["default_estado_activo"]</option>
                                            <option value="D">@Localizer["default_estado_desactivo"]</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- GRILLA -->
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table ng-table="tableBuscar" show-filter="false" class="table table-condensed table-bordered table-striped">
                            <tr ng-repeat="row in $data">
                                <td data-title="'@Localizer["gq_perfiles_nombre"]'" sortable="'nombre'">{{row.nombre}}</td>
                                <td data-title="'@Localizer["gq_perfiles_estado"]'" sortable="'estado'">{{GetEstadoNombre(row.estado)}}</td>
                                @Html.Partial("~/Views/Shared/_PartialTableButtons.cshtml")
                            </tr>
                            <tfoot ng-table-paging="tableBuscar"></tfoot>
                        </table>
                    </div>
                    <!-- ./box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
    <!-- EDITAR content -->
    <section class="content" ng-show="modo == MODO_EDITAR || modo == MODO_AGREGAR">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="box" ng-class="{'box-success':(modo == MODO_AGREGAR),'box-primary':(modo == MODO_EDITAR)}">
                    <div class="box-header with-border">
                        <h5 class="box-title" ng-show="modo == MODO_AGREGAR"> <i class="fa fa-plus-circle text-green"></i> @Localizer["perfil_index_create_new"]</span></h5>
                        <h5 class="box-title" ng-show="modo == MODO_EDITAR"> <i class="fa fa-pencil text-blue"></i> @Localizer["perfil_index_edit"] <span class="text-blue">{{selecteditem.nombre}}</span></h5>
                    </div>
                    <form class="form-horizontal">
                        <div class="box-body">
                            <div class="form-group {{errorClass('Nombre')}}">
                                <label class="col-sm-2 control-label">@Localizer["gq_perfiles_nombre"]</label>
                                <div class="col-sm-10">
                                    <input type="text" ng-model="selecteditem.nombre" class="form-control" placeholder="@Localizer["gq_perfiles_nombre"]">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">@Localizer["gq_perfiles_accesos"]</label>
                                <div class="col-sm-10">
                                    <table ng-table="tableAccesos" show-filter="false" class="table table-condensed table-bordered table-striped">
                                        <tr ng-repeat="row in accesos">
                                            <td data-title="'@Localizer["gq_perfiles_accesos"]'">
                                                <label class="">
                                                    <div class="icheckbox_minimal-blue " style="position: relative;" ng-class="{'checked':row.isSelected}">
                                                        <input type="checkbox" class="minimal" style="position: absolute; opacity: 0;" ng-checked="row.isSelected" ng-click="onChageAcceso(row)">
                                                        <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                                                        </ins>
                                                    </div>
                                                </label>
                                            </td>
                                            <td data-title="'@Localizer["gq_perfiles_nombre"]'">{{row.nombre}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="form-group" ng-show="modo == MODO_EDITAR">
                                <label class="col-sm-2 control-label">@Localizer["gq_perfiles_estado"]</label>
                                <div class="col-sm-10">
                                    <select ng-model="selecteditem.estado" class="form-control">
                                        <option value="A">@Localizer["default_estado_activo"]</option>
                                        <option value="D">@Localizer["default_estado_desactivo"]</option>
                                    </select>
                                </div>
                            </div>
                            
                            @Html.Partial("~/Views/Shared/_PartialModificadoPor.cshtml")
                           
                        </div>
                    </form>
                    <!-- ./box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->

</div>

<script src="~/js/controller/perfil/perfilController.js"></script>
