@{
    ViewData["Title"] = Localizer["mailTemplate_index_title"];
}

@if (ViewData.Keys.Contains("done"))
{
    <script>
        var done = '@ViewData["done"]';
    </script>
}
<script>
    var componentes = ['nvd3', 'ui.ace'];
</script>
<div class="content-wrapper" style="min-height: 850px;" ng-controller="appController">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        @Html.Partial("~/Views/Shared/_PartialButtons.cshtml")
        <h1>
            @ViewData["Title"]
        </h1>
    </section>  

    <!-- BUSCAR content -->
    <section class="content" ng-show="modo == MODO_BUSCAR">
        <!-- BUSCAR -->
        <div class="row">
            <div class="col-md-12">
                <div class="panel box box-primary">
                    <div class="box-header with-border">
                        <h4 class="box-title">
                            <a data-toggle="collapse" aria-expanded="false" class="" ng-click="onClickShowSearch()">
                                @Localizer["default_find_avanzado"]
                            </a>
                        </h4>
                        <button class="btn btn-primary pull-right" style="margin: -7px;" ng-click="onBuscar()"> @Localizer["default_find_icon"] @Localizer["default_find"]</button>
                    </div>
                    <div ng-if="ShowAdvanceSearch">
                        <form class="form-horizontal">
                            <div class="box-body">
                                <div class="form-group col-sm-6">
                                    <label class="col-sm-2 control-label">@Localizer["gq_mailTemplate_nombre"]</label>
                                    <div class="col-sm-10">
                                        <input type="text" ng-model="filterObject.Nombre" class="form-control" placeholder="@Localizer["gq_mailTemplate_nombre"]">
                                    </div>
                                </div>                                
                                <div class="form-group col-sm-6">
                                    <label class="col-sm-2 control-label">@Localizer["gq_mailTemplate_folder"]</label>
                                    <div class="col-sm-10">
                                        <input type="text" ng-model="filterObject.Folder" class="form-control" placeholder="@Localizer["gq_mailTemplate_folder"]">
                                    </div>
                                </div>                                
                                <div class="form-group col-sm-6">
                                    <label class="col-sm-2 control-label">@Localizer["gq_mailTemplate_estado"]</label>
                                    <div class="col-sm-10">
                                        <select ng-model="filterObject.Estado" class="form-control">
                                            <option value="T">@Localizer["default_estado_todos"]</option>
                                            <option value="A">@Localizer["default_estado_activo"]</option>
                                            <option value="D">@Localizer["default_estado_desactivo"]</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- GRILLA -->
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table ng-table="tableBuscar" show-filter="false" class="table table-condensed table-bordered table-striped">
                            <tr ng-repeat="row in $data">
                                <td data-title="'@Localizer["gq_mailTemplate_nombre"]'" sortable="'nombre'">{{row.nombre}}</td>
                                <td data-title="'@Localizer["gq_mailTemplate_folder"]'" sortable="'folder'">{{row.folder}}</td>
                                <td data-title="'@Localizer["gq_mailTemplate_estado"]'" sortable="'estado'">{{GetEstadoNombre(row.estado)}}</td>
                                @Html.Partial("~/Views/Shared/_PartialTableButtons.cshtml")
                            </tr>
                            <tfoot ng-table-paging="tableBuscar"></tfoot>
                        </table>
                    </div>
                    <!-- ./box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->

    <!-- EDITAR content -->
    <section class="content" ng-show="modo == MODO_EDITAR || modo == MODO_AGREGAR">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="box" ng-class="{'box-success':(modo == MODO_AGREGAR),'box-primary':(modo == MODO_EDITAR)}">
                    <div class="box-header with-border">
                        <h5 class="box-title" ng-show="modo == MODO_AGREGAR"> <i class="fa fa-plus-circle text-green"></i> @Localizer["mailTemplate_index_create_new"]</h5>
                        <h5 class="box-title" ng-show="modo == MODO_EDITAR"> <i class="fa fa-pencil text-blue"></i> @Localizer["mailTemplate_index_edit"] <span class="text-blue">{{selecteditem.nombre}}</span></h5>
                    </div>
                    <form class="form-horizontal">
                        <div class="box-body">
                            <div class="form-group {{errorClass('Nombre')}}">
                                <label class="col-sm-2 control-label">@Localizer["gq_mailTemplate_nombre"]</label>
                                <div class="col-sm-4">
                                    <input type="text" ng-model="selecteditem.nombre" class="form-control" placeholder="@Localizer["gq_mailTemplate_nombre"]" ng-change="errorRemove('Nombre')">
                                    <span ng-show="hasError('Nombre')" class="help-block">{{errorMessage('Nombre')}}</span>
                                </div>
                            </div>

                            <div class="form-group {{errorClass('Folder')}}">
                                <label class="col-sm-2 control-label">@Localizer["gq_mailTemplate_folder"]</label>
                                <div class="col-sm-4">
                                    <input type="text" ng-model="selecteditem.folder" class="form-control" placeholder="@Localizer["gq_mailTemplate_folder"]" ng-change="errorRemove('Folder')">
                                    <span ng-show="hasError('Folder')" class="help-block">{{errorMessage('Folder')}}</span>
                                </div>
                            </div>                            

                            <div class="form-group {{errorClass('Template')}}">
                                <label class="col-sm-2 control-label">@Localizer["gq_mailTemplate_template"]</label>
                                <div class="col-sm-8">
                                    <div ui-ace="aceHtml" ng-model="selecteditem.template" style="height:400px;" placeholder="@Localizer["gq_mailTemplate_template"]">Code Source show here</div>
                                    <span ng-show="hasError('Template')" class="help-block">{{errorMessage('Template')}}</span>
                                </div>
                            </div>                          

                            <div class="form-group {{errorClass('CodeSharp')}}">
                                <label class="col-sm-2 control-label">@Localizer["gq_mailTemplate_codeSharp"]</label>
                                <div class="col-sm-8">
                                    <div ui-ace="aceCS" ng-model="selecteditem.codeSharp" style="height:400px;" placeholder="@Localizer["gq_mailTemplate_codeSharp"]">Code Source show here</div>
                                    <span ng-show="hasError('CodeSharp')" class="help-block">{{errorMessage('CodeSharp')}}</span>
                                </div>
                            </div>                           

                            <div class="form-group">

                                <label class="col-sm-2 control-label" ng-show="modo == MODO_EDITAR">@Localizer["gq_graficos_estado"]</label>
                                <div class="col-sm-4" ng-show="modo == MODO_EDITAR">
                                    <select ng-model="selecteditem.estado" class="form-control">
                                        <option value="A">@Localizer["default_estado_activo"]</option>
                                        <option value="D">@Localizer["default_estado_desactivo"]</option>
                                    </select>
                                </div>
                            </div>

                            @Html.Partial("~/Views/Shared/_PartialModificadoPor.cshtml")

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

</div>


<script src="~/js/controller/mailTemplate/mailTemplateController.js"></script>
