@{
    ViewData["Title"] = Localizer["usuario_index_title"];
}

@if (ViewData.Keys.Contains("done"))
{
    <script>
        var done = '@ViewData["done"]';       
    </script>
}
<div class="content-wrapper" style="min-height: 850px;" ng-controller="appController">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        @Html.Partial("~/Views/Shared/_PartialButtons.cshtml")
        <h1>
            @ViewData["Title"]
        </h1>
    </section>

    <!-- BUSCAR content -->
    <section class="content" ng-show="modo == MODO_BUSCAR">
        <!-- BUSCAR -->
        <div class="row">
            <div class="col-md-12">
                <div class="panel box box-primary">
                    <div class="box-header with-border">
                        <h4 class="box-title">
                            <a data-toggle="collapse" aria-expanded="false" class="" ng-click="onClickShowSearch()">
                                @Localizer["default_find_avanzado"]
                            </a>
                        </h4>
                        <button class="btn btn-primary pull-right" style="margin: -7px;" ng-click="onBuscar()"> @Localizer["default_find_icon"] @Localizer["default_find"]</button>
                    </div>
                    <div ng-if="ShowAdvanceSearch">
                        <form class="form-horizontal">
                            <div class="box-body">
                                <div class="form-group col-sm-6">
                                    <label class="col-sm-2 control-label">@Localizer["gq_usuarios_nombre"]</label>
                                    <div class="col-sm-10">
                                        <input type="text" ng-model="filterObject.Nombre" class="form-control" placeholder="@Localizer["gq_usuarios_nombre"]">
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="col-sm-2 control-label">@Localizer["gq_usuarios_apellido"]</label>
                                    <div class="col-sm-10">
                                        <input type="text" ng-model="filterObject.Apellido" class="form-control" placeholder="@Localizer["gq_usuarios_apellido"]">
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="col-sm-2 control-label">@Localizer["gq_usuarios_usuario"]</label>
                                    <div class="col-sm-10">
                                        <input type="text" ng-model="filterObject.Usuario" class="form-control" placeholder="@Localizer["gq_usuarios_usuario"]">
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="col-sm-2 control-label">@Localizer["gq_usuarios_email"]</label>
                                    <div class="col-sm-10">
                                        <input type="text" ng-model="filterObject.Email" class="form-control" placeholder="@Localizer["gq_usuarios_email"]">
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="col-sm-2 control-label">@Localizer["gq_usuarios_estado"]</label>
                                    <div class="col-sm-10">
                                        <select ng-model="filterObject.Estado" class="form-control">
                                            <option value="T">@Localizer["default_estado_todos"]</option>
                                            <option value="A">@Localizer["default_estado_activo"]</option>
                                            <option value="D">@Localizer["default_estado_desactivo"]</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- GRILLA -->
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table ng-table="tableBuscar" show-filter="false" class="table table-condensed table-bordered table-striped">
                            <tr ng-repeat="row in $data">
                                <td data-title="'@Localizer["gq_usuarios_nombre"]'" sortable="'nombre'">{{row.nombre}}</td>
                                <td data-title="'@Localizer["gq_usuarios_apellido"]'" sortable="'apellido'">{{row.apellido}}</td>
                                <td data-title="'@Localizer["gq_usuarios_usuario"]'" sortable="'usuario'">{{row.usuario}}</td>
                                <td data-title="'@Localizer["gq_usuarios_email"]'" sortable="'email'">{{row.email}}</td>
                                <td data-title="'@Localizer["gq_usuarios_estado"]'" sortable="'estado'">{{GetEstadoNombre(row.estado)}}</td>
                                @Html.Partial("~/Views/Shared/_PartialTableButtons.cshtml")
                            </tr>
                            <tfoot ng-table-paging="tableBuscar"></tfoot>
                        </table>
                    </div>
                    <!-- ./box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
   
    
    <!-- EDITAR content -->
    <section class="content" ng-show="modo == MODO_EDITAR || modo == MODO_AGREGAR">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="box" ng-class="{'box-success':(modo == MODO_AGREGAR),'box-primary':(modo == MODO_EDITAR)}">
                    <div class="box-header with-border">
                        <h5 class="box-title" ng-show="modo == MODO_AGREGAR"> <i class="fa fa-plus-circle text-green"></i> @Localizer["usuario_index_create_new"]</h5>
                        <h5 class="box-title" ng-show="modo == MODO_EDITAR"> <i class="fa fa-pencil text-blue"></i> @Localizer["usuario_index_edit"] <span class="text-blue">{{selecteditem.nombre}} {{selecteditem.apellido}}</span></h5>
                    </div>
                    <form class="form-horizontal">
                        <div class="box-body">
                            <div class="form-group {{errorClass('Nombre')}} {{errorClass('Apellido')}}">
                                <label class="col-sm-2 control-label">@Localizer["gq_usuarios_nombre"]</label>
                                <div class="col-sm-4">
                                    <input type="text" ng-model="selecteditem.nombre" class="form-control" placeholder="@Localizer["gq_usuarios_nombre"]" ng-change="errorRemove('Nombre')">
                                    <span ng-show="hasError('Nombre')" class="help-block">{{errorMessage('Nombre')}}</span>
                                </div>

                                <label class="col-sm-2 control-label">@Localizer["gq_usuarios_apellido"]</label>
                                <div class="col-sm-4">
                                    <input type="text" ng-model="selecteditem.apellido" class="form-control" placeholder="@Localizer["gq_usuarios_apellido"]" ng-change="errorRemove('Apellido')">
                                    <span ng-show="hasError('Apellido')" class="help-block">{{errorMessage('Apellido')}}</span>
                                </div>
                            </div>

                            <div class="form-group {{errorClass('Usuario')}} {{errorClass('Email')}}">
                                <label class="col-sm-2 control-label">@Localizer["gq_usuarios_usuario"]</label>
                                <div class="col-sm-4">
                                    <input type="text" ng-model="selecteditem.usuario" class="form-control" placeholder="@Localizer["gq_usuarios_usuario"]" ng-change="errorRemove('Usuario')">
                                    <span ng-show="hasError('Usuario')" class="help-block">{{errorMessage('Usuario')}}</span>
                                </div>

                                <label class="col-sm-2 control-label">@Localizer["gq_usuarios_email"]</label>
                                <div class="col-sm-4">
                                    <input type="text" ng-model="selecteditem.email" class="form-control" placeholder="@Localizer["gq_usuarios_email"]" ng-change="errorRemove('Email')">
                                    <span ng-show="hasError('Email')" class="help-block">{{errorMessage('Email')}}</span>
                                </div>
                            </div>
                            <div class="form-group {{errorClass('Clave')}} {{errorClass('ClaveChequed')}}">
                                <label class="col-sm-2 control-label">@Localizer["gq_usuarios_clave"]</label>
                                <div class="col-sm-4">
                                    <input type="password" ng-model="selecteditem.clave" class="form-control" placeholder="@Localizer["gq_usuarios_clave"]" ng-change="errorRemove('Clave')">
                                </div>

                                <label class="col-sm-2 control-label">@Localizer["gq_usuarios_clave_verificar"]</label>
                                <div class="col-sm-4">
                                    <input type="password" ng-model="selecteditem.claveChequed" class="form-control" placeholder="@Localizer["gq_usuarios_clave_verificar"]" ng-change="errorRemove('ClaveChequed')">
                                </div>

                                <div class="input-group col-sm-offset-2 col-sm-10">
                                    <span ng-show="hasError('Clave')" class="help-block col-sm-5">{{errorMessage('Clave')}}</span>
                                    <span ng-show="hasError('ClaveChequed')" class="help-block col-sm-offset-6 col-sm-6">{{errorMessage('ClaveChequed')}}</span>
                                </div>

                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">@Localizer["gq_usuarios_perfilId"]</label>
                                <div class="col-sm-10" ng-class="{'col-sm-10':(modo == MODO_AGREGAR),'col-sm-4':(modo == MODO_EDITAR)}">
                                    <select ng-model="selecteditem.perfilId" class="form-control"
                                            ng-options="rol.perfilId as rol.nombre for rol in roles"></select>
                                </div>

                                <label class="col-sm-2 control-label" ng-show="modo == MODO_EDITAR">@Localizer["gq_usuarios_estado"]</label>
                                <div class="col-sm-4" ng-show="modo == MODO_EDITAR">
                                    <select ng-model="selecteditem.estado" class="form-control">
                                        <option value="A">@Localizer["default_estado_activo"]</option>
                                        <option value="D">@Localizer["default_estado_desactivo"]</option>
                                    </select>
                                </div>
                            </div>

                            @Html.Partial("~/Views/Shared/_PartialModificadoPor.cshtml")

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

</div>

<script src="~/js/controller/usuario/usuarioController.js">
</script>

