@{
    ViewData["Title"] = Localizer["smtp_index_title"];
}

@if (ViewData.Keys.Contains("done"))
{
    <script>
        var done = '@ViewData["done"]';
    </script>
}

<div class="content-wrapper" style="min-height: 850px;" ng-controller="appController">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="pull-right">
            @if (GQ.com.gq.security.Security.hasPermission(((Microsoft.AspNetCore.Mvc.Controllers.ControllerActionDescriptor)ViewContext.ActionDescriptor).ControllerTypeInfo, "Guardar", false))
            {
                <button class="btn btn-primary" ng-show="showButtonSave" ng-click="onGuardar()" title="@Localizer["default_save"]">@Localizer["default_save_icon"]</button>
            }
            <button class="btn btn-warning" ng-show="showButtonCancel" ng-click="onCancelar()" title="@Localizer["default_cancel"]">@Localizer["default_cancel_icon"]</button>
        </div>
        <h1>
            @ViewData["Title"]
        </h1>
    </section>

    <!-- BUSCAR content -->
    <section class="content" ng-show="modo == MODO_BUSCAR">
       
        <!-- GRILLA -->
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table ng-table="tableBuscar" show-filter="false" class="table table-condensed table-bordered table-striped">
                            <tr ng-repeat="row in $data">
                                <td data-title="'@Localizer["gq_smtp_nombre"]'" sortable="'nombre'">{{row.nombre}}</td>
                                <td data-title="'@Localizer["gq_smtp_nombreFrom"]'" sortable="'descripcion'">{{row.nombreFrom}}</td>
                                <td data-title="'@Localizer["gq_smtp_user"]'" sortable="'template'">{{row.user}}</td>
                                <td data-title="'@Localizer["gq_smtp_pass"]'" sortable="'scritp'">{{row.pass}}</td>
                                <td data-title="'@Localizer["gq_smtp_host"]'" sortable="'codeSharp'">{{row.host}}</td>                                
                                <td data-title="''" style="width:45px;">
                                    <button class="btn btn-primary btn-sm" ng-show="showTableButtonEdit" ng-click="onModificar(row)" title="Editar"> <i class="fa fa-pencil"></i> </button>
                                </td>
                            </tr>
                            <tfoot ng-table-paging="tableBuscar"></tfoot>
                        </table>
                    </div>
                    <!-- ./box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
    <!-- EDITAR content -->
    <section class="content" ng-show="modo == MODO_EDITAR || modo == MODO_AGREGAR">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="box" ng-class="{'box-success':(modo == MODO_AGREGAR),'box-primary':(modo == MODO_EDITAR)}">
                    <div class="box-header with-border">                        
                        <h5 class="box-title" ng-show="modo == MODO_EDITAR"> <i class="fa fa-pencil text-blue"></i> @Localizer["smtp_index_edit"] <span class="text-blue">{{selecteditem.nombre}}</span></h5>
                    </div>
                    <form class="form-horizontal">
                        <div class="box-body">
                            <div class="form-group {{errorClass('Nombre')}}">
                                <label class="col-sm-2 control-label">@Localizer["gq_smtp_nombre"]</label>
                                <div class="col-sm-4">
                                    <input type="text" ng-model="selecteditem.nombre" class="form-control" placeholder="@Localizer["gq_smtp_nombre"]" ng-change="errorRemove('Nombre')">
                                    <span ng-show="hasError('Nombre')" class="help-block">{{errorMessage('Nombre')}}</span>
                                </div>
                            </div>

                            <div class="form-group {{errorClass('NombreFrom')}}">
                                <label class="col-sm-2 control-label">@Localizer["gq_smtp_nombreFrom"]</label>
                                <div class="col-sm-4">
                                    <textarea type="text" ng-model="selecteditem.nombreFrom" class="form-control" placeholder="@Localizer["gq_smtp_nombreFrom"]" ng-change="errorRemove('NombreFrom')"></textarea>
                                    <span ng-show="hasError('NombreFrom')" class="help-block">{{errorMessage('NombreFrom')}}</span>
                                </div>
                            </div>

                            <div class="form-group {{errorClass('User')}}">
                                <label class="col-sm-2 control-label">@Localizer["gq_smtp_user"]</label>
                                <div class="col-sm-4">
                                    <textarea type="text" ng-model="selecteditem.user" class="form-control" placeholder="@Localizer["gq_smtp_user"]" ng-change="errorRemove('User')"></textarea>
                                    <span ng-show="hasError('User')" class="help-block">{{errorMessage('User')}}</span>
                                </div>
                            </div>

                            <div class="form-group {{errorClass('Pass')}}">
                                <label class="col-sm-2 control-label">@Localizer["gq_smtp_pass"]</label>
                                <div class="col-sm-4">
                                    <textarea type="text" ng-model="selecteditem.pass" class="form-control" placeholder="@Localizer["gq_smtp_pass"]" ng-change="errorRemove('Pass')"></textarea>
                                    <span ng-show="hasError('Pass')" class="help-block">{{errorMessage('Pass')}}</span>
                                </div>
                            </div>

                            <div class="form-group {{errorClass('Host')}}">
                                <label class="col-sm-2 control-label">@Localizer["gq_smtp_host"]</label>
                                <div class="col-sm-4">
                                    <textarea type="password" ng-model="selecteditem.host" class="form-control" placeholder="@Localizer["gq_smtp_host"]" ng-change="errorRemove('Host')"></textarea>
                                    <span ng-show="hasError('Host')" class="help-block">{{errorMessage('Host')}}</span>
                                </div>
                            </div>

                            <div class="form-group {{errorClass('Port')}}">
                                <label class="col-sm-2 control-label">@Localizer["gq_smtp_port"]</label>
                                <div class="col-sm-4">
                                    <textarea type="password" ng-model="selecteditem.port" class="form-control" placeholder="@Localizer["gq_smtp_port"]" ng-change="errorRemove('Port')"></textarea>
                                    <span ng-show="hasError('Port')" class="help-block">{{errorMessage('Port')}}</span>
                                </div>
                            </div>

                            <div class="form-group {{errorClass('UseDefaultCredentials')}}">
                                <label class="col-sm-2 control-label">@Localizer["gq_smtp_useDefaultCredentials"]</label>
                                <div class="col-sm-4">
                                    <textarea type="password" ng-model="selecteditem.useDefaultCredentials" class="form-control" placeholder="@Localizer["gq_smtp_useDefaultCredentials"]" ng-change="errorRemove('UseDefaultCredentials')"></textarea>
                                    <span ng-show="hasError('UseDefaultCredentials')" class="help-block">{{errorMessage('UseDefaultCredentials')}}</span>
                                </div>
                            </div>

                            <div class="form-group {{errorClass('EnableSsl')}}">
                                <label class="col-sm-2 control-label">@Localizer["gq_smtp_enableSsl"]</label>
                                <div class="col-sm-4">
                                    <textarea type="password" ng-model="selecteditem.enableSsl" class="form-control" placeholder="@Localizer["gq_smtp_enableSsl"]" ng-change="errorRemove('EnableSsl')"></textarea>
                                    <span ng-show="hasError('EnableSsl')" class="help-block">{{errorMessage('EnableSsl')}}</span>
                                </div>
                            </div>

                            <div class="form-group {{errorClass('EMailFrom')}}">
                                <label class="col-sm-2 control-label">@Localizer["gq_smtp_emailFrom"]</label>
                                <div class="col-sm-4">
                                    <textarea type="password" ng-model="selecteditem.eMailFrom" class="form-control" placeholder="@Localizer["gq_smtp_emailFrom"]" ng-change="errorRemove('EMailFrom')"></textarea>
                                    <span ng-show="hasError('EMailFrom')" class="help-block">{{errorMessage('EMailFrom')}}</span>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

</div>


<script src="~/js/controller/smtp/smtpController.js"></script>
